# dont ignore .gitignore

!.gitignore
!style.css

# Directories: local backup, version directories

.bak/
.ver/
ar/
manuscript/example/
preview/
*lib.d/

# stray files

Icon*
*~
.*#
*.css
*.err
*.html
*.tmp
.[a-z]*
